.help-block{
    color: red;
}
.container,.article-container{
    margin: 0 10%;
    border: 1px solid black;
    background-color: #c8bec4;
}
h1{
    text-align: center;
}
.form-container{
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
}
.id-container, .title-container, .description-container, .author-container{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 20px;
}
body{
    padding: 0 5%;
}
ul{
    background-color: lightgoldenrodyellow;
}
.item{
    margin:10px;
    display: flex;
    justify-content: flex-end;
    background-color: lightblue;
}
.footer{
    margin:10px;
    background-color: lightcyan;

}
.items{
    width:auto;
    margin: 5px;
    padding:5px;
    background-color: aquamarine;
    border-radius: 5px;
    text-align: center;

}
.footer-text{
    text-align: center;
    color: wheat;
}
table,th,td,tr{
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}
