<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
</head>
<body>

    <div class="container">
        <div th:replace="fragment/header::header"></div>
        <!--Title-->
        <h1 th:text="${formAdd}?'Add New Article':'Update Article'">Add New Article</h1>
        <!--New Article-->
        <form th:action="${formAdd}?'/add':'/edit'" method="post" th:object="${article}"
              class="form-container" enctype="multipart/form-data">
    <div>
                <input type="button" th:value="#{button.back}" onclick="location.href='/article'"
                       class="items"/>
                <input type="button" th:value="#{button.category}" onclick="location.href='/categories'"
                       class="items"/>
    </div>

                <input type="hidden" placeholder="Enter ID" th:field="*{id}"
                       class="form-control"/>

            <div th:classappend="${#fields.hasErrors('title')}? 'has-error'" class="form-group">
                <label th:for="*{title}">Title:</label>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                      th:class="help-block">Title Errors</span>
                <br/>
                <input type="text" placeholder="Enter Title" th:field="*{title}"
                       class="form-control"/>
            </div>
            <!--Category-->
            <div th:classappend="${#fields.hasErrors('category')}? 'has-error'"
                 class="form-group">

                <label th:for="*{category}">Category:</label>
                <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                      th:class="help-block">Category Errors</span>
                <br/>
                <select name="category.id" class="form-control">
                    <option th:each="category : ${categories}" th:object="${category}"
                            th:value="*{id}" th:text="*{category}"></option>
                </select>
            </div>
            <!--Description-->
            <div th:classappend="${#fields.hasErrors('description')}? 'has-error'"
                 class="form-group">

                <label th:for="*{description}">Description:</label>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                      th:class="help-block">description Errors</span>
                <br/>
                <input type="text" placeholder="Enter Description" th:field="*{description}"
                       class="form-control"/>
            </div>
            <!--Author-->
            <div th:classappend="${#fields.hasErrors('author')}? 'has-error'"
                 class="form-group">

                <label th:for="*{author}">Author:</label>
                <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
                      th:class="help-block">author Errors</span><br/>
                <input type="text" placeholder="Enter Author" th:field="*{author}"
                       class="form-control"/>
            </div>
            <!--Picture-->
            <div class="form-group">
                <label for="file">Thumbnail:</label>
                <br/>
                <input type="file" name="image" class="form-control-file" id="file"/>
            </div>
            <!--Button Submit-->
            <div class="form-group">
                <input type="submit" th:value="${formAdd}?'Save':'Update'"
                       class="items"/>
            </div>
        </form>
        <div th:replace="fragment/footer"></div>
    </div>
</body>
</html>