<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Article Management</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>

</head>
<body style="margin: 0 5%;">
    <div class="article-container">
        <div th:replace="fragment/header::header"></div>
        <h1 th:text="#{article.list}">Article List</h1>
        <div class="form-group">
            <input type="button" th:value="#{button.add}" onclick="location.href='/add'" class="items"/>
        </div>

        <table align="center">
            <tr>
                <th th:text="#{table.column.id}">ID</th>
                <th th:text="#{table.column.title}">Title</th>
                <th th:text="#{table.column.category}">Category</th>
                <th th:text="#{table.column.description}">Description</th>
                <th th:text="#{table.column.author}">Author</th>
                <th th:text="#{table.column.createdate}">Created Date</th>
                <th th:text="#{table.column.thumbnail}">Thumbnail</th>
                <th th:text="#{table.column.option}">Action</th>
            </tr>
            <tr th:each="article:${articles}" th:object="${article}">
                <td th:text="*{id}"></td>
                <td th:text="*{title}"></td>
                <td th:text="*{category.category}"></td>
                <td th:text="*{description}"></td>
                <td th:text="*{author}"></td>
                <td th:text="*{createDate}"></td>
                <td><img th:src="*{thumbnail}" alt="Loading..." style="width: 100px; height: 100px;"/></td>
                <td>
                    <a class="items" th:href="@{/edit/{id}(id=*{id})}">Edit</a>
                    <a class="items" th:href="@{/delete/{id}(id=*{id})}">Delete</a>
                </td>

            </tr>
        </table>
        <div th:replace="fragment/footer"></div>
    </div>

</body>
</html>