<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Category</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>

</head>
<body style="margin: 0 5%;">
<div class="article-container">
    <div th:replace="fragment/header::header"></div>
    <h1>Article List</h1>

        <input type="button" th:value="#{button.back}" onclick="location.href='/article'" class="items"/>

        <input type="button" th:value="#{button.addnewcategory}" onclick="location.href='/addC'" class="items"/>


    <table style="margin-left: 10px">
        <tr>
            <th th:text="#{table.column.id}"></th>
            <th th:text="#{table.column.name}"></th>
            <th th:text="#{table.column.option}"></th>
        </tr>
        <tr th:each="category:${categories}" th:object="${category}">
            <td th:text="*{id}"></td>
            <td th:text="*{category}"></td>
            <td>

                <a class="items" th:href="@{/editcategory/{id}(id=*{id})}">Edit</a>
                <a class="items" th:href="@{/deletecategory/{id}(id=*{id})}">Delete</a>
            </td>

        </tr>
    </table>
    <div th:replace="fragment/footer"></div>
</div>

</body>
</html>