<!DOCTYPE html>
<html lang="en" xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>

</head>
<body style="margin: 0 5%;">
<div class="article-container">
    <div th:replace="fragment/header::header"></div>
    <h1 th:text="#{article.list}">Article List</h1>
    <div class="form-group">
        <input type="button" value="Add" onclick="location.href='/add'" class="btn btn-primary"/>
    </div>

    <div id="main" class="container" layout:fragment="content"></div>


    <div th:replace="fragment/footer"></div>
</div>
</body>
</html>