<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class ="item">

            <div class="items"><a href="/article">Home</a></div>
            <div class="items"><a href="/article">Article</a></div>
            <div class="items"><a href="/categories">Category</a></div>
            <div class="items"><a href="/article/?lang=en">EN</a> </div>
            <div class="items"><a href="/article/?lang=km">KH</a></div>

    </div>
</div>
